<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>To‘lovlar</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>To‘lovlar</h1>
    <a href="home.html">⬅ Orqaga</a>
  </header>

  <main>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Talaba</th>
          <th>Miqdor</th>
          <th>Holat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Ali Valiyev</td>
          <td>500 000 so‘m</td>
          <td>To‘langan</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>
