<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Profil</title>
</head>
<body>
  <header>
    <h1>Foydalanuvchi profili</h1>
    <a href="home.html">⬅ Orqaga</a>
  </header>

  <main>
    <div class="profile-box">
      <h2>Profil ma'lumotlari</h2>
      <p><b>Ism:</b> <span id="profileName">{{user.first_name}}</span></p>
      <p><b>Familiya:</b> <span id="profileRole">{{user.last_name}}</span></p>
      <p><b>Rol:</b> <span id="profileRole">{{user.direction}}</span></p>
      <p><b>Tel raqam:</b> <span id="profileRole">{{user.phone_number}}</span></p>
    </div>
  </main>

</body>
</html>
