<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Dars jadvali</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <h1>Dars jadvali</h1>
    <a href="home.html">⬅ Orqaga</a>
  </header>

  <main>
    <table>
      <thead>
        <tr>
          <th>Kun</th>
          <th>Fan</th>
          <th>O‘qituvchi</th>
          <th>Vaqt</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dushanba</td>
          <td>Matematika</td>
          <td>Olimov</td>
          <td>10:00</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>
